<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Montserrat:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: {
                black: "#000000",
                neutral: "#404040",
                white: "#FFFFFF",
              },
              zinc: {
                100: "#f4f4f5",
                200: "#e4e4e7",
                300: "#d4d4d8",
                500: "#71717a",
                800: "#27272a",
              },
              error: {
                500: "#ef4444",
              },
            },
          },
        },
      };
    </script>
    <style>
      .font-roboto {
        font-family: "Roboto", sans-serif;
      }
      .font-montserrat {
        font-family: "Montserrat", sans-serif;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Category</title>
  </head>
  <body class="bg-zinc-100">
    <header class="flex px-4 py-4">
      <a
        href="./tracker.html"
        class="pl-2 self-center cursor-pointer duration-200 hover:scale-125 active:scale-100"
        title="Go Back"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50px"
          height="50px"
          viewBox="0 0 24 24"
          class="stroke-zinc-800"
        >
          <path
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="1.5"
            d="M11 6L5 12M5 12L11 18M5 12H19"
          ></path>
        </svg>
      </a>
      <h1
        class="absolute left-1/2 transform -translate-x-1/2 justify-self-center text-[1.5rem] font-extrabold"
      >
        Category
      </h1>
    </header>

    <main class="flex-grow flex items-center justify-center p-4">
      <div class="w-full max-w-md p-6 flex flex-col items-center space-y-6">
        <div class="text-center">
          <div
            id="error-message"
            class="hidden p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg"
            role="alert"
          >
            <span class="font-medium">Error!</span>
            <span id="error-text"></span>
          </div>
          <h1 class="text-2xl font-roboto font-bold mb-2">
            Target Expense: Rp. <span id="target-expense"></span>
          </h1>
          <p class="text-lg font-montserrat">
            Allocate your budget to every category you made
          </p>
        </div>
        <form id="categoryForm" class="w-full flex flex-col space-y-4">
          <div
            class="flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0"
          >
            <!-- Expense Category Input -->
            <div class="flex-1">
              <input
                type="text"
                id="category"
                name="category"
                placeholder="Category"
                class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
            </div>
            <!-- Amount Input -->
            <div class="flex-1">
              <input
                type="number"
                id="monthlyBudget"
                name="monthlyBudget"
                placeholder="Monthly Budget"
                class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
            </div>
            <!-- Add Button -->
            <button
              type="submit"
              class="text-white bg-zinc-500 hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5"
            >
              Add
            </button>
          </div>
        </form>

        <!-- Table -->
        <div id="table-category" class="relative overflow-x-auto w-full"></div>
      </div>
    </main>
    <script type="module" src="../../../public/js/onboard-category.js"></script>
  </body>
</html>
