<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- ionicon -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- local module -->
    <script type="module" src="../../../public/js/targetExpense.js"></script>

    <!-- toastr -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Auto Numeric -->

    <script src="
    https://cdn.jsdelivr.net/npm/autonumeric@4.10.5/dist/autoNumeric.min.js
    "></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: {
                black: "#000000",
                neutral: "#404040",
                white: "#FFFFFF",
              },
              zinc: {
                100: "#f4f4f5",
                200: "#e4e4e7",
                300: "#d4d4d8",
                500: "#71717a",
                800: "#27272a",
              },
              error: {
                500: "#ef4444",
              },
            },
          },
        },
      };
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>

    <title>Target Expense | Expense Tracker</title>
  </head>

  <body class="h-screen overflow-hidden bg-zinc-100">
    <div class="flex flex-col h-screen">
      <!-- Header -->
      <header class="flex px-4 py-4">
        <a
          href="./profile.html"
          class="pl-2 self-center cursor-pointer duration-200 hover:scale-125 active:scale-100"
          title="Go Back"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50px"
            height="50px"
            viewBox="0 0 24 24"
            class="stroke-zinc-800"
          >
            <path
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="1.5"
              d="M11 6L5 12M5 12L11 18M5 12H19"
            ></path>
          </svg>
        </a>
        <h1
          class="absolute left-1/2 transform -translate-x-1/2 justify-self-center text-[1.5rem] font-extrabold"
        >
          Target Expense
        </h1>
      </header>

      <div class="h-full flex items-center justify-center">
        <!-- Body input -->
        <div class="w-full max-w-md p-6 flex flex-col items-center space-y-6">
          <form id="expense-form" class="w-full">
            <div class="mb-4">
              <input
                type="number"
                id="expense"
                name="expense"
                placeholder="Enter amount of target expense"
                class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-1"
                required
              />
            </div>
            <div
              id="error-message"
              class="hidden p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg"
              role="alert"
            >
              <span class="font-medium">Error!</span>
              <span id="error-text"></span>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5"
              >
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../../../public/js/inputExpense.js"></script>
  </body>
</html>
